@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");
/* ===== Navigation ===== */
nav {
  position: fixed;
  top: 0;
  height: calc(10px + 7vh);
  width: 100%;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex; }
  nav .nav-links {
    display: none; }
  nav .nav-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-right: 20px; }
  @media (min-width: 1150px) {
    nav .nav-links {
      flex: 10;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      nav .nav-links a {
        text-decoration: none;
        color: white;
        margin: 30px; }
    nav .nav-icon-container {
      display: none; }
    nav .nav-title {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 20px; } }

.nav-icon-container {
  position: relative;
  height: 100%;
  width: 80px;
  max-width: 80px;
  flex: 1;
  z-index: 3;
  /* Above navbar AND side-nav */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

#nav-icon {
  position: relative;
  /* Needed to for #nav-icon3 span to be positioned */
  height: 20px;
  width: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* Disable blue color on tap for mobile */ }

#nav-icon span {
  position: absolute;
  /* positioned relative to first positioned parent */
  height: 1px;
  width: 100%;
  left: 0;
  display: block;
  /* Force span to take up */
  background: white;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 50%; }

#nav-icon span:nth-child(4) {
  bottom: 0%; }

#nav-icon.open span {
  background-color: black; }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.side-nav {
  position: absolute;
  top: 0;
  height: 100vh;
  width: calc(200px + 10vw);
  display: flex;
  flex-direction: column;
  z-index: 2;
  /* Above navbar, but under menu button */
  background-color: white;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.side-nav-closed {
  left: -100vw; }

.side-nav-open {
  left: 0vw; }

.side-nav-tab-container {
  padding-top: calc(10px + 7vh);
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: auto; }
  .side-nav-tab-container .side-nav-tab {
    display: block;
    position: relative;
    color: black;
    font-size: 4vh;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  .side-nav-tab-container .side-nav-tab:after {
    content: '';
    width: 60%;
    border-bottom: solid 1px black;
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: 1; }
  .side-nav-tab-container a {
    flex: 1;
    text-decoration: none;
    display: block; }

.side-nav-tab:hover {
  background-color: #eeeeee; }

.side-nav-tab:nth-child(4) {
  border: none; }

/* ===== Reset style ===== */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto'; }

a {
  text-decoration: none;
  color: inherit; }

/* ===== Sections ===== */
section {
  min-height: 100vh; }
  section h1 {
    margin: 0;
    padding: 60px;
    font-weight: 300;
    font-size: 4em;
    text-align: center; }

section.flex {
  display: flex;
  flex-direction: column; }

/* ===== Intro ===== */
#intro {
  color: #F9F3F4;
  background: linear-gradient(rgba(36, 70, 105, 0.74), rgba(36, 70, 105, 0.74)), url("../assets/yosemite-hero.jpg") no-repeat 50% 50%;
  background-size: cover; }
  #intro div.intro-content {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #intro div.intro-content h1 {
      font-weight: 300;
      font-size: calc(40px + 2vw); }
    #intro div.intro-content a.intro-btn {
      border-radius: 9px;
      padding: 10px 20px;
      border: solid 3px white; }

/* ===== About ===== */
#about div.about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #about div.about-content div.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px; }
    #about div.about-content div.about-img img {
      height: calc(150px + 6vw);
      border-radius: 50%; }
  #about div.about-content .about-text {
    flex: 2;
    font-weight: 300;
    min-width: 300px;
    color: black;
    font-size: calc(20px + 0.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    #about div.about-content .about-text p {
      margin: 20px;
      letter-spacing: 2px; }

/* ===== Projects =====*/
#projects {
  color: white;
  background: linear-gradient(rgba(36, 70, 105, 0.74), rgba(36, 70, 105, 0.74)), url("../assets/shanghai.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed; }
  #projects .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px; }
    #projects .project-container .project {
      flex: 0 0 calc(270px + 1.5vw);
      height: calc(300px + 2vw);
      margin: 10px;
      border-radius: 2%;
      display: flex;
      flex-direction: column;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      /* Gives material design look */ }
      #projects .project-container .project h1 {
        flex: 10;
        padding: 0;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
      #projects .project-container .project p {
        flex: 3;
        color: black;
        margin: 0;
        padding: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; }
      #projects .project-container .project a {
        flex: 2;
        color: #f57f17;
        background-color: white;
        text-align: right;
        padding-right: 20px; }
    #projects .project-container .project:nth-child(1) {
      background-color: #3d5afe; }
    #projects .project-container .project:nth-child(2) {
      background-color: #00796b; }
    #projects .project-container .project:nth-child(3) {
      background-color: #5e35b1; }
    #projects .project-container .project:nth-child(4) {
      background-color: #f44336; }
    #projects .project-container .project:nth-child(5) {
      background-color: #6d4c41; }

/* ===== Classes ======*/
#classes p {
  font-size: 20px;
  margin-left: 20px; }
#classes .tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; }
  #classes .tile-container .tile {
    flex: 1 0 350px;
    align-self: stretch;
    max-width: 350px;
    min-height: 10rem;
    margin: 10px;
    background: white;
    color: white;
    font-size: 2.5rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #classes .tile-container .tile:nth-child(2n+3) {
      flex-basis: 300px; }
    #classes .tile-container .tile:nth-child(4n + 1) {
      background-color: #008744; }
    #classes .tile-container .tile:nth-child(4n + 2) {
      background-color: #0057e7; }
    #classes .tile-container .tile:nth-child(4n + 3) {
      background-color: #d62d20; }
    #classes .tile-container .tile:nth-child(4n + 4) {
      background-color: #ffa700; }
  @media screen and (max-width: 500px) {
    #classes .tile-container .tile {
      flex-basis: 100% !important;
      max-width: 90%; } }

/* ===== Contact Section =====*/
#contact {
  background-color: #009688;
  min-height: 50vh;
  color: white; }
  #contact .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #contact .icons a {
      display: block;
      background-repeat: no-repeat;
      line-height: 100px;
      flex: 1;
      height: 100px;
      max-width: 100px;
      min-width: 100px;
      margin: 30px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    #contact .icons a:nth-child(1) {
      background-image: url(../assets/facebook.svg);
      border-radius: 20%; }
    #contact .icons a:nth-child(2) {
      background-image: url(../assets/github.svg);
      border-radius: 50%; }
    #contact .icons a:nth-child(3) {
      background-image: url(../assets/linkedin.svg);
      border-radius: 10%; }
  #contact p {
    margin: 0;
    color: white;
    text-align: center;
    padding: 20px 0px;
    letter-spacing: 2px;
    font-size: 20px; }

footer {
  min-height: 400px;
  color: #9e9e9e;
  background-color: #424242;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 50px; }
  footer .footer-section {
    min-width: 100px;
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
    footer .footer-section h1 {
      padding-top: 50px;
      flex: 1;
      width: 100%;
      text-align: left;
      font-size: 25px; }
    footer .footer-section a {
      flex: 1;
      width: 100%;
      display: block;
      text-align: left;
      pointer-events: none;
      cursor: default;
      word-wrap: break-word; }
  footer .footer-section-bottom {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
