@import url("http://fonts.googleapis.com/css?family=Roboto:300");
@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Oswald");
/* ===== Navigation ===== */
nav {
  position: fixed;
  top: 0;
  height: calc(10px + 7vh);
  width: 100%;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); }

.nav-icon-container {
  position: relative;
  height: 100%;
  width: 80px;
  z-index: 3;
  /* Above navbar AND side-nav */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

#nav-icon {
  position: relative;
  /* Needed to for #nav-icon3 span to be positioned */
  height: 20px;
  width: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* Disable blue color on tap for mobile */ }

#nav-icon span {
  position: absolute;
  /* positioned relative to first positioned parent */
  height: 1px;
  width: 100%;
  left: 0;
  display: block;
  /* Force span to take up */
  background: white;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 50%; }

#nav-icon span:nth-child(4) {
  bottom: 0%; }

#nav-icon.open span {
  background-color: black; }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.side-nav {
  position: absolute;
  top: 0;
  height: 100vh;
  width: calc(200px + 10vw);
  display: flex;
  flex-direction: column;
  z-index: 2;
  /* Above navbar, but under menu button */
  background-color: white;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.side-nav-closed {
  left: -100vw; }

.side-nav-open {
  left: 0vw; }

.side-nav-tab-container {
  margin: 100px 0px;
  height: 70%;
  display: flex;
  flex-direction: column; }

.side-nav-tab {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 30px;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  position: relative; }

.side-nav-tab:after {
  content: '';
  width: 60%;
  border-bottom: solid 1px black;
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: 1; }

.side-nav-tab-container a {
  flex: 1;
  text-decoration: none;
  display: block; }

.side-nav-tab:hover {
  background-color: #eeeeee; }

.side-nav-tab:nth-child(4) {
  border: none; }

/* ===== Reset style ===== */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

/* ===== Section: Intro ===== */
.intro {
  height: 100%;
  background: linear-gradient(rgba(36, 70, 105, 0.74), rgba(36, 70, 105, 0.74)), url("../assets/yosemite-hero.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .intro .content {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .intro .content h1 {
      font-family: 'Roboto';
      font-weight: 300;
      color: #F9F3F4;
      font-size: calc(40px + 2vw);
      /* Hack to make min font-size 40px */ }
    .intro .content .btn {
      border-radius: 9px;
      padding: 10px 20px;
      border: solid 3px white;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-family: 'Oswald'; }

/* Section: About */
.about {
  min-height: 100%; }

.about-image-container {
  flex: 1;
  min-width: calc(200px + 5vw);
  display: flex;
  justify-content: center;
  align-items: center; }

.about-image {
  height: calc(200px + 5vw);
  margin: 30px;
  width: auto;
  border-radius: 50%; }

.about-text-container {
  flex: 1.5;
  padding: 30px 50px;
  font-family: 'Roboto';
  font-weight: 300;
  color: black;
  font-size: calc(20px + 0.5vw);
  /* Hack to make min font-size 40px */
  display: flex;
  justify-content: center;
  align-items: center; }

.about-container {
  display: flex;
  width: auto;
  flex-wrap: wrap; }

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.about-text p {
  margin: 10px;
  letter-spacing: 2px; }

/* Projects Section*/
.projects {
  min-height: 90%;
  background-color: #424242; }

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px; }

.section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 30px;
  margin-top: 30px; }

.projects a {
  text-decoration: none;
  color: inherit;
  display: block; }

.project {
  flex: 2;
  height: calc(300px + 2vw);
  min-width: calc(270px + 1.5vw);
  max-width: calc(270px + 1.5vw);
  margin: auto;
  margin-top: 30px;
  border-radius: 2dp;
  display: flex;
  flex-direction: column;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.project-title {
  flex: 7;
  height: 200px;
  font-family: 'Roboto';
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.project-desc-container {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white; }

.project-desc {
  font-family: 'Roboto';
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.project-link {
  background-color: white;
  font-family: 'Roboto';
  text-transform: uppercase;
  color: #f57f17;
  text-align: right;
  padding: 10px 20px;
  flex: .5; }

.project-one {
  background-color: #3d5afe; }

/*.project-two {
    background-color:#00796b;
}

.project-three {
    background-color:#5e35b1;
}

.project-four {
    background-color:#f44336;
}

.project-five {
    background-color:#6d4c41;
}*/
/* Classes Section*/
/* Skills Section*/

/*# sourceMappingURL=main.css.map */
