@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");
/* ===== Navigation ===== */
nav {
  position: fixed;
  top: 0;
  height: calc(10px + 7vh);
  width: 100%;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex; }
  nav .nav-links {
    display: none; }
  nav .nav-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-right: 20px; }
  @media (min-width: 1150px) {
    nav .nav-links {
      flex: 10;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      nav .nav-links a {
        text-decoration: none;
        color: white;
        margin: 30px; }
    nav .nav-icon-container {
      display: none; }
    nav .nav-title {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 20px; } }

.nav-icon-container {
  position: relative;
  height: 100%;
  width: 80px;
  max-width: 80px;
  flex: 1;
  z-index: 3;
  /* Above navbar AND side-nav */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

#nav-icon {
  position: relative;
  /* Needed to for #nav-icon3 span to be positioned */
  height: 20px;
  width: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* Disable blue color on tap for mobile */ }

#nav-icon span {
  position: absolute;
  /* positioned relative to first positioned parent */
  height: 1px;
  width: 100%;
  left: 0;
  display: block;
  /* Force span to take up */
  background: white;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 50%; }

#nav-icon span:nth-child(4) {
  bottom: 0%; }

#nav-icon.open span {
  background-color: black; }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.side-nav {
  position: absolute;
  top: 0;
  height: 100vh;
  width: calc(200px + 10vw);
  display: flex;
  flex-direction: column;
  z-index: 2;
  /* Above navbar, but under menu button */
  background-color: white;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

.side-nav-closed {
  left: -100vw; }

.side-nav-open {
  left: 0vw; }

.side-nav-tab-container {
  padding-top: calc(10px + 7vh);
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: auto; }
  .side-nav-tab-container .side-nav-tab {
    display: block;
    position: relative;
    color: black;
    font-size: 4vh;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  .side-nav-tab-container .side-nav-tab:after {
    content: '';
    width: 60%;
    border-bottom: solid 1px black;
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: 1; }
  .side-nav-tab-container a {
    flex: 1;
    text-decoration: none;
    display: block; }

.side-nav-tab:hover {
  background-color: #eeeeee; }

.side-nav-tab:nth-child(4) {
  border: none; }

/*# sourceMappingURL=nav.css.map */
