html, body {
    margin:0;
    height:100%;
}

.container {
    background-color:lavender;
    
    height:100%;
    display:flex;
    flex-direction: column;
}

nav {
    background-color:orange;

    flex:1;
    display:flex;
}

.nav-icon {
    background-color:purple;
    
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.material-icons.md-64 { 
    font-size: 64px; 
}

#icon {
    margin:0 auto;
}

.hamburger-menu {
    height:100px;
}

.nav-text {
    background-color:yellow;

    flex:3;
}


















.profile {
    background-color: red;

    flex:3;
}

.description {
    background-color: green;

    flex:5;
}

footer {
    background-color: black;

    flex:1;
}