@import 'util';
@import 'nav';

/* ===== Reset style ===== */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family:'Roboto';
}

a {
    text-decoration: none;
    color:inherit;
}

/* ===== Sections ===== */

section {
    min-height:100vh;
    
    h1 {
        margin:0;
        padding:60px;
        font-weight:300;
        font-size:4em;
        text-align:center;
    }
}

section.flex {
    display:flex;
    flex-direction: column;
}

/* ===== Intro ===== */
#intro {
    color: #F9F3F4;
    background: 
        linear-gradient(rgba(36, 70, 105, 0.74), rgba(36, 70, 105, 0.74)), 
        url("../assets/yosemite-hero.jpg") no-repeat 50% 50%;
    background-size:cover;
    
    div.intro-content {
        flex:1;
        flex-direction:column;
        @include center();

        h1 {
            font-weight: 300;
            font-size: calc(40px + 2vw); //* Hack to make min font-size 40px *
        }

        a.intro-btn {
            border-radius: 9px;
            padding: 10px 20px;
            border: solid 3px white;
        }
    }
}

/* ===== About ===== */

#about {
    div.about-content {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        div.about-img {
            flex:1;
            @include center();
            padding:30px;
            img {
                height: calc(150px + 6vw);
                border-radius: 50%;
            }   
        }
        
        .about-text {
            flex:2;
            font-weight: 300;
            min-width:300px;
            color: black;
            font-size: calc(20px + 0.5vw);
            @include center();
            flex-direction: column;
            
            p {
                margin: 20px;
                letter-spacing: 2px;
            }
        }
    }
}

/* ===== Projects =====*/

#projects {
    color:white;
    background: 
        linear-gradient(rgba(36, 70, 105, 0.74), rgba(36, 70, 105, 0.74)), 
        url("../assets/shanghai.jpg") no-repeat 50% 50%;
    background-size:cover;
    background-attachment: fixed;
    
    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        
        .project {
            flex: 0 0 calc(270px + 1.5vw);
            height: calc(300px + 2vw);
            margin: 10px;
            border-radius: 2%;
            display: flex;
            flex-direction: column;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); /* Gives material design look */

            h1 {
                flex:10;
                padding:0;
                font-size: 30px; 
                @include center();
            }
            
            p {
                flex:3;
                color:black;
                margin:0;
                padding:10px;
                background-color:white;
                @include center();
            }  
            
            a {
                flex:2;
                color:#f57f17;
                background-color:white;
                text-align: right;
                padding-right:20px;
            }
        }
        .project:nth-child(1) {
            background-color: #3d5afe;
        }
        .project:nth-child(2) {
            background-color:#00796b;
        }
        .project:nth-child(3) {
            background-color:#5e35b1;
        }
        .project:nth-child(4) {
            background-color:#f44336;
        }
        .project:nth-child(5) {
            background-color:#6d4c41;
        }
    }
}

/* ===== Classes ======*/

#classes {
    
    p {
        font-size:20px;
        margin-left: 20px;
    }
    
    .tile-container{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: stretch;

        .tile{
            flex:1 0 350px;
            align-self:stretch;
            max-width:350px;
            min-height: 10rem;
            margin:10px;
            background:white;
            color:white;
            font-size:2.5rem;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

            @include center();

            // Min width
            &:nth-child(2n+3){
                flex-basis:300px;
            }


            &:nth-child(4n + 1) {
                background-color:#008744;
            }
            &:nth-child(4n + 2) {
                background-color:#0057e7;
            }
            &:nth-child(4n + 3) {
                background-color:#d62d20;
            }
            &:nth-child(4n + 4) {
                background-color:#ffa700;
            }

        }
        @media screen and(max-width:500px){
            .tile{
                flex-basis:100% !important;
                max-width:90%;
            }
        }
    }
}

/* ===== Contact Section =====*/

#contact {
    background-color:#009688;
    min-height:50vh;
    color:white;

    .icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        a {
            display:block;
            background-repeat: no-repeat;
            line-height:100px;
            flex:1;
            height:100px;
            max-width:100px;
            min-width:100px;
            margin: 30px;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        }
        
        a:nth-child(1) {
            background-image:url(../assets/facebook.svg);
            border-radius: 20%;
        }
        a:nth-child(2) {
            background-image:url(../assets/github.svg);
            border-radius:50%;
        }
        a:nth-child(3) {
            background-image:url(../assets/linkedin.svg);
            border-radius:10%;
        }
    }
    
    p {
        margin:0;
        color:white;
        text-align:center;
        padding:20px 0px;
        letter-spacing: 2px;
        font-size:20px;
    }
}

footer {
    min-height:400px;
    color:rgb(158, 158, 158);
    background-color: rgb(66, 66, 66);
    display:flex;
    flex-wrap:wrap;
    position:relative;
    padding-bottom:50px;
    
    .footer-section {
        min-width:100px;
        flex:1;
        padding:20px;
        
        @include center();
        flex-direction: column;
        
        h1 {
            padding-top:50px;
            flex:1;
            width:100%;
            text-align:left;
            font-size:25px;
        }
        
        a {
            flex:1;
            width:100%;
            display:block;
            text-align:left;
            pointer-events: none;
            cursor: default;
            word-wrap: break-word;
        }
    }
    .footer-section-bottom {
        position:absolute;
        bottom:10px;
        display:block;
        width:100%;
        text-align:center;
        @include center();
    }
}
