@import 'util';
@import 'nav';

/* ===== Reset style ===== */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family:'Roboto';
}

/* ===== Section: Intro ===== */

.intro {
    height: 100%;
    background: 
        linear-gradient(rgba(36, 70, 105, 0.74), rgba(36, 70, 105, 0.74)), 
        url("../assets/yosemite-hero.jpg") no-repeat 50% 50%;
    background-size:cover;
    @include center();
    
    .content { 
        flex: 1;
        flex-direction:column;
        @include center();

        h1 {
            font-weight: 300;
            color: #F9F3F4;
            font-size: calc(40px + 2vw); //* Hack to make min font-size 40px *
        }

        .btn {
            border-radius: 9px;
            padding: 10px 20px;
            border: solid 3px white;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-family: 'Oswald';
        }
    }
}



/* Section: About */

.about {
    min-height: 100%;
    display:flex;
    flex-direction: column;
    padding-bottom:100px;
    
    h1 {
        flex:1;
        font-weight:300;
        font-size:60px;
        @include center();
    }
    
    .content {
        flex:7;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .img-container {
            flex:1;
            @include center();
            padding:30px;
            img {
                height: calc(150px + 6vw);
                border-radius: 50%;
            }
            
        }
        
        .text {
            font-weight: 300;
            min-width:300px;
            color: black;
            font-size: calc(20px + 0.5vw);
            flex:2;
            @include center();
            flex-direction: column;
            
            p {
                margin: 20px;
                letter-spacing: 2px;
            }
        }
    }
}

/* Projects Section*/

.projects {
    min-height: 100%;
    background-color: #00C853;
    display:flex;
    flex-direction: column;
    padding-bottom:100px;
    h1 {
        flex:1;
        color:white;    
        font-weight:300;
        font-size:60px;
        @include center();
    }
    
    .project-container {
        flex:7;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
        
        .project {
            flex: 2;
            height: calc(300px + 2vw);
            min-width: calc(270px + 1.5vw);
            max-width: calc(270px + 1.5vw);
            margin: auto;
            margin-top: 30px;
            border-radius: 2dp;
            display: flex;
            flex-direction: column;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); /* Gives material design look */
            
            .title {
                height: 200px;
                font-size: 30px;
                color: white;
                @include center();  
            }
            
            .desc {
                flex:4;
                padding:10px;
                font-family: 'Roboto';
                @include center();
                background-color:white;
            }  
            
            .link {
                background-color: white;
                color: #f57f17;
                text-align: right;
                padding: 10px 20px;
                flex: .5;
                
                a {
                    text-decoration: none;
                    color: inherit;     
                    display: block;
                }
            }
        }
        .one {
            background-color: #3d5afe;
        }
        .two {
            background-color:#00796b;
        }
        .three {
            background-color:#5e35b1;
        }
        .four {
            background-color:#f44336;
        }
        .five {
            background-color:#6d4c41;
        }
    }
}

/* Classes Section*/

.classes {
    min-height: 100%;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    padding-bottom:100px;
    
    h1 {
        flex:1;
        color:black;    
        font-weight:300;
        font-size:60px;
        @include center();
    }
    P {
        flex:1;
        color:white;
        font-size:20px;
        margin-left: 20px;
    }
    
    .tile-container{
        display:flex;
        flex:10;
        flex-wrap:wrap;
        justify-content: center;
        align-items: stretch;

        .tile{
            flex:1 0 350px;
            align-self:stretch;
            max-width:100%;
            min-height: 10rem;
            margin:10px;
            background:white;
            color:white;
            font-size:2.5rem;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

            @include center();

            // Min width
            &:nth-child(2n+3){
                flex-basis:300px;
            }
            &:nth-child(4n+5){
                flex-basis:450px;
            }

            &:nth-child(4n + 1) {
                background-color:#008744;
            }
            &:nth-child(4n + 2) {
                background-color:#0057e7;
            }
            &:nth-child(4n + 3) {
                background-color:#d62d20;
            }
            &:nth-child(4n + 4) {
                background-color:#ffa700;
            }

        }
        @media screen and(max-width:500px){
            .tile{
                flex-basis:100% !important;
                max-width:90%;
            }
        }
    }
}

/* Skills Section*/

footer {
    min-height:400px;
    color:rgb(158, 158, 158);
    background-color: rgb(66, 66, 66);
    display:flex;
    flex-wrap:wrap;
    position:relative;
    padding-bottom:50px;
    
    .footer-section {
        min-width:150px;
        flex:1;
        padding:20px;
        
        @include center();
        flex-direction: column;
        
        h1 {
            padding-top:50px;
            flex:1;
            width:100%;
            text-align:left;
        }
        
        a {
            flex:1;
            width:100%;
            display:block;
            text-decoration:none;
            color:inherit;
            text-align:left;
               pointer-events: none;
   cursor: default;
        }
    }
    .footer-section-bottom {
        position:absolute;
        right:0;
        bottom:10px;
        display:block;
        width:100%;
        text-align:center;
        
        span {
            margin:0px 50px;
        }
    }
    
}
